<!-- views/add.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Online Calculator</title>
</head>
<body>

  <h1 style="text-align:center">Online Calculator</h1>
	<ul>
		<li><a href="/add">Add</a></li>
		<li><a href="/subt">Subtract</a></li>
		<li><a href="/mult">Multiply</a></li>
		<li><a href="/div">Divide</a></li>
	</ul>

</body>
</html>