<!-- views/add.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Multiply | Online Calculator</title>
</head>
<body style="text-align:center">
  <h1>Online Calculator</h1>
  <h2>Multiply<h2>
  <form action="/calculate" method="POST">
	  <input type="number" name="first_num" id="number1" placeholder="first number"> *
	  <input type="number" name="second_num" id="nmumber2" placeholder="second number">
	  <button type="submit" name="operation" value="mult">Calculate!</button>
	</form>
</body>
</html>