<!-- app/views/text_inspections/new.html.erb -->

<h1>Word Central</h1>

<h2>Submit text for Ascii art</h2>

<!-- ***** Updated ***** -->
<form action="newArt" method="post">
  <div>
    <label for="text_inspection_user_text">Text</label>
    <input type="text" name="usertext"></input> 
  </div>

  <!-- ***** New ***** -->
  <button type="submit">Submit text</button>
  <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
</form>