<!doctype html>

<h1>About me</h1>
	<h3>Federico</h3>
	<% if Date.today.tuesday? %>
	<p>My name is Federico and I'm currently learning to build cool web apps! today is: <%= Time.now %></p>
	<% end %>
	
<!-- <script> alert('boooom') </script> -->