<h1> Whiskeyyyyyyy </h1>

<div style='position:relative;padding-bottom:calc(100% / 0.56)'><iframe src='https://gfycat.com/ifr/FlusteredKnobbyAmericanredsquirrel' frameborder='0' scrolling='no' width='30%' height='30%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>