<!DOCTYPE html>
<html>
  <head>
    <title>AuctionSiteWebapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<h1>Welcome to Federico's next big Auction Site!</h1>
  		<hr>
  	</header>
    <%= yield %>
    <hr>
    <h6>powered by Ruby on Rails , coded by Federico @ Ironhack</h6>
  </body>
</html>
