<h1> Login Page </h1>

<form method="post" action="/login">
<input type ="text" name="email" placeholder="Your Email">
<input type ="text" name="password" placeholder="Password">

<button type="submit">
	Login Now
</button>
</form>