<div class="row">
<hr>
  <p style="text-align:center">This is the best freakin auction site ever, here you will find amazing products, happy bidding!</p>
</div>
<div class="row">





 <%= link_to 'new User' , '/users/new', class: "button" %>
 

</div>