/*
--------------------------------
-------- IMAGES STYLE ----------
--------------------------------
*/

.profilepic {
	width: 40px;
}

.twitterlogo {
	width: 20px;
}

.diario {

}

.ironhprofile {
	width:200px;
}