<div class= "container-fluid">
<h2>Homepage</h2>

<p>This app helps you figure out where you can go to experience the best concerts in South Florida</p>

<%= link_to 'Submit a new concert', '/concerts/new' %>

</div>